<% content_for(:title, "Edit | Group") %>
<div class='container'>
  <div class='row'>
    <div class="col-md-4" id="border-left">
    <%= image_tag("border.gif") %>
    </div>
    <div class="col-md-4 edit_category_box">
      <h1>Edit this Recipe Category: </h1>

      </br>
      <%= render('layouts/errors', :object => @group) %>

      <%= form_for [@user, @group] do |f| %>
        <div class='form-group'>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      <%= f.submit(:class => 'btn btn-success btn-lg') %>
      <% end %>
    </div>
    <div class="col-md-4" id="border-right">
    <%= image_tag("border.gif") %>
    </div>
  </div>
</div>
