<div class="container">
  <div class="welcome-header">
     <p> What's Cooking </p>
    <h2><span class='minor_header'>The place to create and share recipes</span></h2>
  </div>
  <div class="row welcome-box-row">
    <div class="col-md-5 welcome-box">
      <%= link_to image_tag("add_recipe_image.jpg", id: "create_recipe", :class => " image_box img-responsive"), new_recipe_path %>
      <h3>New Recipe</h3>
      <%= link_to "Create a New Recipe", new_recipe_path %>
    </div>

    <div class="col-md-3 welcome-box">
      <%= link_to image_tag("recipe_book.jpg", id: "all_recipes", :class => " image_box img-responsive"), recipes_path %>
      <h3>Recipes</h3>
      <%= link_to "Check out all of our Recipes", recipes_path %>
    </div>

    <div class="col-md-4 welcome-box">
      <div class="feature_recipe">
        <% @recipeArray = [] %>
        <% Recipe.all.each do |recipe| %>
          <% @recipeArray << recipe %>
        <% end %>
        <% if @recipeArray != [] %>
          <% @sample = @recipeArray.sample %>
            <p><%= @sample.name %></p>
            <span class="ingredients"><p><% ingredients = @sample.ingredients.split(',') %>
              <% ingredients.each do |ingredient| %>
                <li><%= ingredient %></li>
              <% end %></p>
            <p><%= @sample.instructions %></p></span>
        <% else %>
            <p>Enter a recipe so we can feature it!</p>
        <% end %>
      </div>
      <h3>Feature Recipe</h3>
      <p>Check out a sample recipe</p>
    </div>

  </div>
</div>
