<!DOCTYPE html>
<html>
<head>
 <title><%= yield(:title) %></title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>




 <p class="bg-success", id="notice"><%= flash[:notice] %></p>
  <p class="bg-danger", id="alert"><%= flash[:alert] %></p>

<%= yield %>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <p id="copyright">&copy; 2014 Linda Gibson</p>
  </div>

</body>
</html>
