<!DOCTYPE html>
<html>
<head>
 <title><%= yield(:title) %></title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>




 <p class="bg-success", id="notice"><%= flash[:notice] %></p>
  <p class="bg-danger", id="alert"><%= flash[:alert] %></p>

<%= yield %>

<<<<<<< HEAD
  <%= render 'layouts/footer' %>
=======
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-copyright navbar-left" id="copyright">
      &copy; 2014 Linda Gibson
    </div>
    <div class="navbar-social navbar-right">
    <%= link_to "http://www.facebook.com/?sk=ff", :target => "_blank" do %>
    <%= image_tag("fb-button.jpg", :size => "50x50", :class => "facebook_icon", :alt => "Facebook") %>
    <% end %>
    </div>
  </div>
>>>>>>> 10923217ce9906c99926cfb0c70a7ef831c3f72e

</body>
</html>
