<!DOCTYPE html>
<html>
<head>
 <title><%= yield(:title) %></title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <body class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top" id="page_header">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand navbar-left">
        <%= link_to "What's Cooking", root_path,:class => 'btn btn-warning btn-lg' %>
        <% if current_user != nil %>
          <%= link_to "My Recipe Book", user_path(current_user), :class => 'btn btn-warning btn-lg' %>
          <%= link_to "My Categories", user_groups_path(current_user), :class => 'btn btn-warning btn-lg' %>
          <%= link_to "My Favorites", recipe_favorites_path(current_user), :class => 'btn btn-warning btn-lg' %>
        <% end %>
      </div>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <div class="nav navbar-nav navbar-right">
        <% if current_user %>
          <p id="logging_in">Logged in as <%= link_to current_user.name,  user_path(current_user), :class => 'btn btn-warning btn-lg' %>
          <%= link_to 'Log Out', logout_path, :class => 'btn btn-warning btn-lg' %></p>
        <% else %>
          <p id="need_signup"><%= link_to 'Sign Up', signup_path, :class => 'btn btn-warning btn-lg' %> or
          <%= link_to 'Log In', login_path, :class => 'btn btn-warning btn-lg' %></p>
        <% end %>
      </div>
    </div>
  </nav>

  <% if current_user %>
    <p id="logging_in">Logged in as <%= link_to current_user.name,  user_path(current_user) %></p>
    <p id="logging_out"><%= link_to 'Log Out', logout_path %></p>
  <% else %>
    <p><%= link_to 'Sign Up', signup_path, :class => 'btn btn-success' %> or
       <%= link_to 'Log In', login_path, :class => 'btn btn-success' %></p>
  <% end %>

 <p class="bg-success", id="notice"><%= flash[:notice] %></p>
  <p class="bg-danger", id="alert"><%= flash[:alert] %></p>

<%= yield %>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <p id="copyright">&copy; 2014 Linda Gibson</p>
  </div>

</body>
</html>
